---
title: English
menu: true
menuIndex: 11
newsLimit: 7
eventsLimit: 2
---

<!-- BEGIN #content -->
<div id="content">
    
    <div class="blog-event-prev-wrapper section" style="direction: ltr;">
        {{!-- <h1 class="title2">{{title}}</h1> --}}
<style>p { font-size: 18px }</style>

{{#markdown}}
## Who are we?

Cultural and charity under the law of June 4, 1964, called Association of the will for Culture and Development, founded in 2010, and of which the receipt is issued on the number (088/2010), operating in the Islamic Republic of Mauritania. 

## Our vision

We believe that the greatest wealth of our country, it is the man. And therefore; we deal with issues of education, training, health, disabled and poor. The Association serves the whole of society.
For the association, it is encouraging men to discover and develop their potential to be an active man in his social environment, cultural and economic.

##Our objectives

To achieve this, the association has set objectives:
Contribute to enrich the culture and development scene in society;
Disseminating culture and enlightenment of disabled persons: to discover their talents and help them financially and morally through education and employment

Provide support cultural, social and health to the poor and needy.

Promote education and training

Encourage innovative to overcome the constraints

Implant the charity work and promote the culture of volunteerism.

Provide assistance to those affected and afflicted, and awareness of the various risks to humans.

## Our means

Construction of education and training centers

Organization of training sessions.

Organization of events, forums and other cultural activities.

Provide necessary equipment and materials for the disabled

Animation conferences, seminars and open educational classes

Provide scholarships, awards and solidarity bonds.

Publications newspapers and newsletters

Intervention and organization of health convoys

Launch cultural competitions.

Distribution of social benefits to the poor and needy

##Organization

Board of Directors

Planning and control of execution. It comprises a group of renowned personalities in our country.

Executive Bureau

The association administered by that office composed by twelve members including the President.

Specialized commissions
{{/markdown}}
        
    </div>

<!-- END #content -->
</div>

{{!-- {{stringify this}} --}}