---
title: Francais
menu: true
menuIndex: 10
newsLimit: 7
eventsLimit: 2
---

<!-- BEGIN #content -->
<div id="content">
    
    <div class="blog-event-prev-wrapper section" style="direction: ltr;">
        {{!-- <h1 class="title2">{{title}}</h1> --}}
<style>p { font-size: 18px }</style>
        {{#markdown}}
## Qui sommes nous ?

Une association culturelle et caritative selon la loi du 4 Juin 1964, dite Association de la volonté pour la culture et du développement, fondée en 2010, et  dont le récépissé est délivré sur le numéro (088/2010), opérant dans la République islamique de Mauritanie. 

## Notre vision

Nous considérons que la plus grande richesse de notre pays, c’est l’homme. Et par conséquent; On s’occupe par les questions d’éducation, de formation, de santé, des personnes handicapées et des pauvres. L’association serve l'ensemble de la société.

Pour l'association, il s'agit d’inciter  l’homme  de  découvrir et développer son potentiel  pour être un homme actif dans son entourage social, culturel et économique.

## Nos objectifs

Pour y arriver, l’association  s’est donné des objectifs :

Contribuer à enrichir la scène culturelle et du développement dans la société ;

Diffuser la culture et l’éveil des personnes handicapés : découvrir  de leurs talents et les aider financièrement et moralement par l'enseignement et l'emploi.

Apporter un appui culturel, social  et sanitaire aux pauvres et aux nécessiteux.

Favoriser l'éducation et la formation 

Encourager les innovateurs pour surmonter les contraintes

Implanter  le travail caritatif et promouvoir  de la culture du volontariat.

Fournir des secours aux personnes touchées et les affligés, et la sensibilisation des différents risques qui menacent l'homme.

## Nos moyens

Construction de centres d'éducation et de formation

Organisation des sessions de formation.

Organisation des événements, forums et autres activités culturels.

Fournir des équipements et matériels nécessaires pour les personnes handicapées

Animation des conférences, des séminaires et des classes éducatives ouvertes

Fournir des bourses, des prix et des cautionnements solidaires.

Publications des  journaux et des bulletins

Intervention et organisation des convois sanitaire

Lancement des concours culturels.

Distribution des prestations sociales aux pauvres et nécessiteux

## Organisation

Conseil d'administration 

Planification et surveille de  l’exécution. Il comprend un groupe de personnalités renommées dans notre pays.

## Bureau exécutif

L’association administrée par ce bureau composé par douze membres dont Président. 

Commissions spécialisés
        {{/markdown}}
    </div>

<!-- END #content -->
</div>

{{!-- {{stringify this}} --}}